// Header

.toolbar-background{
	background:#333;
}

.toolbar-title-md{
	color:#fff;
}



// Content Background
.content{
	background:#000;
}


//List item
.list-md, .item{
	background : #333 !important;
	color:#fff;
}


//card
.card-content, .card-title{
	background:#333 !important;
	color:#fff;
}

.button{
	background: #f26818 !important;
	color: #fff !important;
}